{{ blocks }}
  {{ partial:blocks }}
{{ /blocks }}
<article class="lg:col-span-10 lg:col-start-2 lg:text-md">

  <div class="bg-olverra font-medium text-white p-20 lg:px-140 lg:py-60">
    <h2 class="font-spezia-medium font-medium mb-16 lg:mb-24">
      Wir überarbeiten unseren Unternehmensauftritt, unsere neue Website ist ab Anfang 2026 online.
    </h2>
    <h2 class="font-spezia-medium font-medium mb-8 lg:mb-12">
      Betriebsferien Jahreswechsel 2025/2026
    </h2>
    <p>Vom 24. Dezember 2024 bis 6. Januar 2026 bleibt unser Betrieb geschlossen.</p>
    <p>Gerne sind wir ab dem 7. Januar 2026 wieder für Sie da.</p>
    <p>Wir wünschen Ihnen schöne Fest- und Feiertage und einen guten Start ins neue Jahr.</p>
  </div>
</article>