/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'Spezia-Medium';
  src: url('fonts/Spezia-Medium.woff2') format('woff2'), url('fonts/Spezia-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spezia-Regular';
  src: url('fonts/Spezia-Regular.woff2') format('woff2'), url('fonts/Spezia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}