<footer class="pb-40 mt-76">
  {{ partial:layout/container/inner class="flex flex-col lg:grid lg:grid-cols-12 gap-y-15 lg:gap-y-0" }}
    <span class="lg:col-span-5 lg:col-start-2">
      <strong>Formaform AG</strong>
    </span>
    <span class="lg:col-span-5">
      <a 
        href="tel:+41554401265"
        aria-label="Rufen Sie uns an"
        class="block lg:inline hover:text-olverra transition-colors lg:after:content-[','] hover:after:text-black">+41 55 440 12 65</a>
      <a 
        href="mailto:info@formaform.swiss"
        aria-label="Senden Sie uns eine E-Mail"
        class="block lg:inline hover:text-olverra transition-colors">info@formaform.swiss</a>
    </span>
  {{ /partial:layout/container/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
