<section class="lg:col-span-10 lg:col-start-2 md:grid md:grid-cols-12 md:gap-x-20 my-20 last:mb-0">

  {{ partial:components/media/image 
      :image="image" 
      :sizes="['xl','lg', 'md']" 
      eager="true" 
      wrapperClass="md:col-span-12 lg:col-span-6" 
      class="w-full h-full object-cover aspect-[3/4]" }}
  
  <article class="md:col-span-12 lg:col-span-6 py-20 lg:py-40 flex flex-col gap-y-20 lg:gap-y-28">

    {{ if name }}
      {{ partial:components/headings/h3 class="font-spezia-medium font-medium" }}
        {{ name }}
        {{ if position }}
          <div class="font-spezia-regular">{{ position }}</div>
        {{ /if }}
      {{ /partial:components/headings/h3 }}

    {{ /if }}

    {{ if email || phone }}
      <div>

        {{ if email }}
          <a 
            href="mailto:{{ email }}"
            aria-label="{{ email }}"
            class="block hover:text-olverra transition-colors">
            {{ email }}
          </a>
        {{ /if }}

        {{ if phone }}
          <a 
            href="tel:{{ phone }}"
            aria-label="{{ phone }}"
            class="block hover:text-olverra transition-colors">
            {{ phone }}
          </a>
        {{ /if }}
      </div>
    {{ /if }}
    {{ if description }}
      <div>
        {{ description }}
      </div>
    {{ /if }}
  </article>

</section>