{{ prev_product :id="id" }}
  {{ if url }}
    <a
      href="{{ url }}"
      class="absolute xl:fixed top-14 xl:top-1/2 xl:-translate-y-1/2 left-0 xl:left-22 2xl:left-[calc(((100%_-_var(--max-width-container))_/_2)_+_22px)] w-10 h-16 xl:w-14 xl:h-24"
      aria-label="Vorheriges Produkt {{ title }}">
      {{ partial:icons/prev class="w-full h-auto" }}
    </a>
  {{ /if }}
{{ /prev_product }}

{{ next_product :id="id" }}
  {{ if url }}
    <a
      href="{{ url }}"
      class="absolute xl:fixed top-14 xl:top-1/2 xl:-translate-y-1/2 right-0 xl:right-22 2xl:right-[calc(((100%_-_var(--max-width-container))_/_2)_+_22px)] w-10 h-16 xl:w-14 xl:h-24"
      aria-label="Nächstes Produkt {{ title }}">
      {{ partial:icons/next class="w-full h-auto" }}
    </a>
  {{ /if }}
{{ /next_product }}